* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body {
    font-family: "Arial", sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    color: #fff;
    background: #78284a;
    /* Old browsers */
    background: -moz-linear-gradient(left, #78284a 0%, #6d8a9f 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #78284a), color-stop(100%, #6d8a9f));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #78284a 0%, #6d8a9f 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #78284a 0%, #6d8a9f 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #78284a 0%, #6d8a9f 100%);
    /* IE10+ */
    background: linear-gradient(to right, #78284a 0%, #6d8a9f 100%);
    /* W3C */
}

.clearfix {
    clear: both;
}

#container {
    width: 330px;
    min-height: 450px;
    height: 100%;
    background: #333;
    margin: 50px auto 0 auto;
    border-radius: 8px;
}

#audio-image {
    position: relative;
    overflow: hidden;
    height: 100%;
    margin-bottom: 15px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#audio-image .cover {
    width: 100%;
    opacity: .8;
}

#audio-image .cover:hover {
    width: 100%;
    opacity: 1;
}


#audio-info {
    text-align: center;
}

#audio-info .artist {
    font-weight: bold;
}

input#volume {
    width: 90%;
    margin-left: 2%;
    -webkit-appearance: none !important;
    background: #ccc;
    height: 1px;
    margin-bottom: 20px;
}

input#volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: url(../images/knob.png) no-repeat;
    height: 12px;
    width: 12px;
}

#buttons {
    width: 90%;
    display: block;
    margin: 15px auto 15px 23px;
    overflow: auto;
}

button#play {
    width: 70px;
    height: 70px;
    background: url(../images/play.png) no-repeat;
    float: left;
    margin-left: -2px;
    opacity: 1;
}

button#play:hover {
    opacity: .8;
}

button#pause {
    width: 70px;
    height: 70px;
    background: url(../images/pause.png) no-repeat;
    float: left;
    margin-left: -2px;
    display: none;
    opacity: 1;
}

button#pause:hover {
    opacity: .8;
}

button#stop {
    width: 70px;
    height: 70px;
    background: url(../images/stop.png) no-repeat;
    float: left;
    margin-left: 3px;
}

button#stop:hover {
    opacity: .8;
}

button#prev {
    width: 70px;
    height: 70px;
    background: url(../images/prev.png) no-repeat;
    float: left;
    margin-top: 15px;
    opacity: 1;
}

button#prev:hover {
    opacity: .4;
}

button#next {
    width: 70px;
    height: 70px;
    background: url(../images/next.png) no-repeat;
    float: right;
    margin-top: 15px;
    opacity: 1;
}

button#next:hover {
    opacity: .4;
}

#tracker {
    position: relative;
    width: 100%;
}

#progress-bar {
    width: 80%;
    height: 10px;
    margin: 9px 0 20px 2%;
    background: url(../images/progress_bg.png) no-repeat;
    float: left;
}

#progress {
    height: 10px;
    margin-bottom: 4px;
    background: url(../images/progress.png) no-repeat;
    display: inline-block;
}

#duration {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 4px 8px;
    background: #000;
    border-radius: 5px;
}

#playlist {
    list-style: none;
    width: 95%;
}

#playlist li {
    cursor: pointer;
    margin: 5px 5px 5px 20px;
}

#playlist li.active {
    font-weight: bold;
    padding: 3px;
    background: #666;
}

footer {
    text-align: center;
    width: 93%;
    padding: 2px 1px 2px 1px;
    margin: 10px;
    background: #78284a;
    /* Old browsers */
    background: -moz-linear-gradient(left, #78284a 0%, #6d8a9f 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #78284a), color-stop(100%, #6d8a9f));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #78284a 0%, #6d8a9f 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #78284a 0%, #6d8a9f 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #78284a 0%, #6d8a9f 100%);
    /* IE10+ */
    background: linear-gradient(to right, #78284a 0%, #6d8a9f 100%);
    /* W3C */
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    opacity: 1;
}

footer:hover {
    opacity: .8;
}


@media only screen and (max-width: 600px) {
    #container {
        width: 95%;
        height: 95%;
        background: #333;
        margin: 50px auto 0 auto;
        border-radius: 8px;
    }
}
